<.header>
  Edit Todo <%= @todo.id %>
  <:subtitle>Use this form to manage todo records in your database.</:subtitle>
</.header>

<.todo_form changeset={@changeset} action={~p"/todos/#{@todo}"} />

<.back navigate={~p"/todos"}>Back to todos</.back>
